# ==========================================
# PLANTILLA DE VARIABLES DE ENTORNO
# ==========================================
# Instrucciones: Copia este archivo, renómbralo a '.env' y reemplaza los valores con los tuyos.

# Puerto donde correrá el servidor Express
PORT=4000

# Cadena de conexión a MongoDB. 
# Reemplaza <usuario>, <password> y los <nodos> por tus credenciales de MongoDB Atlas.
# No olvides especificar el nombre de la base de datos (ej. chats) antes de los parámetros.
# Nota*** En caso de que tu conexión falle por el SRV connection string, puedes usar la versión estándar como se muestra el siguiente ejemplo:
MONGO_URI=mongodb://<usuario>:<password>@<nodo1.mongodb.net>:27017,<nodo2.mongodb.net>:27017/nombre_base_datos?ssl=true&replicaSet=atlas-xxxxx-shard-0&authSource=admin&retryWrites=true&w=majority